html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f1f1f;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3, p, figure {
    margin: 0;
}

h2, h3, p, label, span {
    color: #fff;
}

/* _____ _   _ _____ //\ _____ _____ 
  | ____| \ | |_   _|/_\|_   _| ____|
  |  _| |  \| | | || ____|| | |  _|  
  | |___| |\  | | ||  _|_ | | | |___ 
  |_____|_| \_| |_||_____||_| |_____|                           
*/

#header {
    max-width: 880px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#header__container {
    background-color: #313131;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
}


#logo {
    width: 160px;
    height: 100%;
    vertical-align: middle;
}

#navbar {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0px;
    list-style: none;
    column-gap: 1rem;
}

@media (max-width: 375px) {
    #navbar__list {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        row-gap: 0.5rem;
    }
}

#navbar__list > li {
    margin: auto;
}

.fas {
    font-size: 24px;
    color: #f1f1f1;
}

.fas:hover {
    transform: scale(1.15);
    transition: all 0.25s;
    color: #8f5bfe;
}

/* ____  _____ ____ _____ ___ ___  _   _ 
  / ___|| ____/ ___|_   _|_ _/ _ \| \ | |
  \___ \|  _|| |     | |  | | | | |  \| |
   ___) | |__| |___  | |  | | |_| | |\  |
  |____/|_____\____| |_| |___\___/|_| \_|
*/

section, #product {
    max-width: 880px;
    margin: auto;
    background-color: #313131;
    margin-top: 0.5rem;
    padding-top: 2rem;
    border-radius: 1rem;
}

section > h2 {
    margin-left: 2rem;
}

#products, .product__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    list-style: none;
    padding: 2rem;
    margin-top: 0.25rem;
}

@media (max-width: 768px) {
    #products {
        grid-template-columns: 1fr;
    }
  }

.singleProduct__image {
    height: 12rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.singleProduct__link > figure {
    background-color: #8f5bfe;
    border-radius: 1rem;
    position: relative;
}

.singleProduct__link > figure:hover {
    transform: scale(1.025);
    transition: transform 0.25s;
}

.singleProduct__link > figure > figcaption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0.75rem;
    align-items: center;
}

.singleProduct__price {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #8f5bfe;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.singleProduct__description {
    grid-row: 2;
}


/* ____  ____   ___  ____  _   _  ____ _____   ____   _    ____ _____ 
  |  _ \|  _ \ / _ \|  _ \| | | |/ ___|_   _| |  _ \ / \  / ___| ____|
  | |_) | |_) | | | | | | | | | | |     | |   | |_) / _ \| |  _|  _|  
  |  __/|  _ <| |_| | |_| | |_| | |___  | |   |  __/ ___ \ |_| | |___ 
  |_|   |_| \_\\___/|____/ \___/ \____| |_|   |_| /_/   \_\____|_____|
*/ 

.product__container {
    gap: 1rem;
    background-color: #8f5bfe;
    margin-top: 2rem;
    border-radius: 1rem;
}

#product__image {
    grid-column: 1/3;
    width: 100%;
    border-radius: 1rem;
}

#product__description {
    grid-row: 2;
    grid-column: 1/3;
}

#color__label {
    font-weight: bold;
    grid-row: 3;
    grid-column: 1/3;
}

#color__select {
    grid-row: 4;
    grid-column: 1/3;
    height: 2rem;
    font-size: 16px;
    border-radius: 0.5rem;
}

#product__price {
    grid-row: 5;
    grid-column: 1/3;
    font-weight: bold;
    font-size: 1.5rem;
}

#product__button {
    color: #8f5bfe;
    background-color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 2.5rem;
    border-radius: 1rem;  
    grid-row: 6;
    grid-column: 1/3;
    cursor: pointer;
}

#product__button:hover {
    filter: invert(0.15);
    transition: all 0.25s;
}

/*  ____    _    ____ _____   ____   _    ____ _____ 
   / ___|  / \  |  _ \_   _| |  _ \ / \  / ___| ____|
  | |     / _ \ | |_) || |   | |_) / _ \| |  _|  _|  
  | |___ / ___ \|  _ < | |   |  __/ ___ \ |_| | |___ 
   \____/_/   \_\_| \_\|_|   |_| /_/   \_\____|_____|
*/

#cart__container, form {
    padding: 2rem;
}

#cart__container > header, #cart__container > footer, .singleProduct__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.5rem 0;
}

#header__total,
#total__price {
    grid-column: 3/4;
}

form {
    display: grid;
    row-gap: 1rem;
}

.field__container {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

input {
    border-radius: 1rem;
    margin-top: 0.5rem;
}

#confirm {
    background-color: #8f5bfe;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}

#confirm:hover {
    background-color: white;
    color: #8f5bfe;
    transition: all 0.25s;
}

/*  ___  ____  ____  _____ ____    ____   _    ____ _____ 
   / _ \|  _ \|  _ \| ____|  _ \  |  _ \ / \  / ___| ____|
  | | | | |_) | | | |  _| | |_) | | |_) / _ \| |  _|  _|  
  | |_| |  _ <| |_| | |___|  _ <  |  __/ ___ \ |_| | |___ 
   \___/|_| \_\____/|_____|_| \_\ |_| /_/   \_\____|_____|
*/

#order__container {
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#order__infos {
    grid-row: 3/4;
}

