html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3e9f1;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3, p, figure {
    margin: 0;
}

/* _____ _   _ _____ //\ _____ _____ 
  | ____| \ | |_   _|/_\|_   _| ____|
  |  _| |  \| | | || ____|| | |  _|  
  | |___| |\  | | ||  _|_ | | | |___ 
  |_____|_| \_| |_||_____||_| |_____|                           
*/

#header {
    max-width: 880px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#header__container {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0 1rem 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


#logo {
    width: 160px;
}

#navbar {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0px;
    list-style: none;
}

#navbar__list > li {
    text-align: center;
}

.material-icons-outlined:hover {
    filter: invert(0.5);
}

/* ____  _____ ____ _____ ___ ___  _   _ 
  / ___|| ____/ ___|_   _|_ _/ _ \| \ | |
  \___ \|  _|| |     | |  | | | | |  \| |
   ___) | |__| |___  | |  | | |_| | |\  |
  |____/|_____\____| |_| |___\___/|_| \_|
*/

section {
    max-width: 880px;
    margin: auto;
    background-color: #fff;
    margin-top: 0.5rem;
    padding-top: 1rem;
}

section > h2 {
    margin-left: 2rem;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    list-style: none;
    padding: 2rem;
    margin-top: 0.25rem;
}

@media (max-width: 768px) {
    #products {
        grid-template-columns: 1fr;
    }
  }

.singleProduct__image {
    height: 12rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.singleProduct__link > figure {
    background-color: #f3e9f1;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0px 5px 5px #d1d1d1;
    position: relative;
}

.singleProduct__link > figure:hover {
    transform: scale(1.025);
    transition: transform 0.1s;
}

.singleProduct__link > figure > figcaption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0.75rem;
    align-items: center;
}

.singleProduct__price {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #f3e9f1;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.singleProduct__description {
    grid-row: 2;
}